@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Condensed:wght@300&display=swap');

body{
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    width: 80%;
    margin: auto;
    background: #FAEBD7;
}

.header img{
    border-radius: 10%;
    margin-top: 15px;
}

.article p{
    margin: 0;
}

.article img{
    margin-top: 15px;
}
.block2  td{
    border:solid 1px #000;
}

.block2 th{
    border: solid 1px #000;
} 
.in1{
    padding-bottom:  10px;
}
 .in2{
    padding-bottom:  10px;
   }

   .in3{
    padding-bottom:  10px;
   }

  .link{
      margin-top: 10px;
  }

  a{
      color: #000;
      text-decoration: none;
  }

  a:hover{
      color:cornflowerblue;
  }

  a:visited{
      color: blueviolet;
  }

  .btn  {
      padding: 5px 10px
  }